/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700;800&display=swap');

:root {
  --primary: #0d0d2b;
}

/* General styles */
body {
  font-family: 'Oxanium', Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary);
  color: white;
  overflow-x: hidden;
}

.container {
  @apply max-w-lg md:max-w-screen-xl mx-auto px-4 md:px-8;
}

.btn {
  @apply bg-blue-600 rounded-full text-white px-3 py-1;
}

.newsletter-section {
  background: url(./images/newsletter-bg.png) center center/cover no-repeat;
}

.newsletter-section .newsletter-card {
  background: url(./images/newsletter-box.png) center center/cover no-repeat;
}
